*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background: #008080;
}

#navegacao{
    background: #00ffff;
    border-bottom: 3px solid #ffff;
    height: 45px;
    position: fixed;
    width: 100%;
    top: 0px;

}

#area{
    width: 720px;
    margin: 0 auto;
}

#areaPrincipal{
    width: 720px;
    margin: 55px auto 10px auto;
    padding: 0px 5px 0px 5px;
    background: #00ffff;
}

#menu{
    float: right;
    padding: 10px 0px;
}

#postagem{
    padding: 10px;
    margin-bottom: 10px;
    background: #ffffff;
}

#logo{
    float: left;
}

.verde{
    color: #008080;
}

.branco{
    color: #ffffff;
}
.dataPostagem{
    font-size: 14px;
    border-bottom: 1px solid #ffffff;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.imagemPostagem{
    float: left;
    margin-right: 10px;
}

.postado{
    border-left: 5px solid #ffffff;
    padding-left: 5px;
    display: block;
    margin-top: 5px;
}

p{
    text-align: justify;
}

h2{
    color: #008080;
}

a{
    text-decoration: none;
    padding: 5px;
}

a:link{
    color: #008080;
}

a:visited{
    color: #008080;
}

a:hover{
    color: #ccff66;
    background: #ffffff;
}

a:active{
    color: #ff9966;
}